{$DOMAIN} {
    encode gzip zstd

    tls {$TLS_EMAIL}

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        X-XSS-Protection "1; mode=block"
    }

    reverse_proxy cms-web:80
}
